.categories {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.categories button {
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #3ab4af;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.categories button:hover {
    background-color: #a93605;
    color: white;
}

.categories button.active {
    background-color: #9b210e;
    color: white;
    border-color: #9d0606;
}
